

body{
   text-align: center;
   min-width: 300px;
}

h1 {
    font-size: 40px;
}

h2 {

    font-size: 18px;
    font-weight:lighter;
    font-style: italic;
}

h3{
    font-size: 25px;
    height: 2px;
}

.tally-title{
    padding: 5px 5px 5px 5px;
    height: 25px;
}

.game-title{
    text-decoration: underline;
}

.score {
    display: inline-block;
}

.game-button {
background-size: 50%;
background-color: rgb(47, 196, 220);
}


.other-buttons {

    height: 60px;
    min-width: 300px;
}

.reset-button{
    background-color: red;
    margin: 30px 30px 30px 30px;
    color: white;
    font-size: 16px;
}

.next-game{
    background-color: rgb(37, 160, 37);
    margin: 30px 30px 30px 30px;
    color: white;
    font-size: 16px;
}

div.list {
    text-align: center;
    height: 10px;
}

ul.directions{
    display: inline-block;
    text-align: left;
}



.buttons {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
 
}

